/* From Uiverse.io by FColombati */ 
body {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: #f3f3f3;
    font-family: "Stack Sans Text", sans-serif;
    color: rgb(84, 84, 84);

}

.dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 140px;
    margin-right: 96px;
    margin-top: 20px ;
}

.right-content {
    display: flex;
    flex-direction: column;
    gap: 32px;

}

/* Button */

.button {
  all: unset;
  width: 160px;
  text-align: center;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  border-radius: 100em;
  background-color: rgba(53, 53, 53, 0.75);
  box-shadow:
    -0.15em -0.15em 0.15em -0.075em rgba(5, 5, 5, 0.25),
    0.0375em 0.0375em 0.0675em 0 rgba(5, 5, 5, 0.1);
}

.button::after {
  content: "";
  position: absolute;
  z-index: 0;
  width: calc(100% + 0.3em);
  height: calc(100% + 0.3em);
  top: -0.15em;
  left: -0.15em;
  border-radius: inherit;
  background: linear-gradient(
    -135deg,
    rgba(56, 56, 56, 0.5),
    transparent 20%,
    transparent 100%
  );
  filter: blur(0.0125em);
  opacity: 0.25;
  mix-blend-mode: multiply;
}

.button .button-outer {
  position: relative;
  z-index: 1;
  border-radius: inherit;
  transition: box-shadow 300ms ease;
  will-change: box-shadow;
  box-shadow:
    0 0.05em 0.05em -0.01em rgb(43, 43, 43),
    0 0.01em 0.01em -0.01em rgba(56, 56, 56, 0.5),
    0.15em 0.3em 0.1em -0.01em rgba(44, 44, 44, 0.25);
}

.button:hover .button-outer {
  box-shadow:
    0 0 0 0 rgb(43, 43, 43),
    0 0 0 0 rgba(46, 46, 46, 0.5),
    0 0 0 0 rgba(60, 60, 60, 0.25);
}

.button-inner {
  --inset: 0.035em;
  position: relative;
  z-index: 1;
  border-radius: inherit;
  padding: 1em 1.5em;
  background-image: linear-gradient(
    135deg,
    rgba(230, 230, 230, 1),
    rgba(180, 180, 180, 1)
  );
  transition:
    box-shadow 300ms ease,
    clip-path 250ms ease,
    background-image 250ms ease,
    transform 250ms ease;
  will-change: box-shadow, clip-path, background-image, transform;
  overflow: clip;
  clip-path: inset(0 0 0 0 round 100em);
  box-shadow:
        /* 1 */
    0 0 0 0 inset rgba(42, 42, 42, 0.1),
    /* 2 */ -0.05em -0.05em 0.05em 0 inset rgba(5, 5, 5, 0.25),
    /* 3 */ 0 0 0 0 inset rgba(5, 5, 5, 0.1),
    /* 4 */ 0 0 0.05em 0.2em inset rgba(255, 255, 255, 0.25),
    /* 5 */ 0.025em 0.05em 0.1em 0 inset rgba(255, 255, 255, 1),
    /* 6 */ 0.12em 0.12em 0.12em inset rgba(255, 255, 255, 0.25),
    /* 7 */ -0.075em -0.25em 0.25em 0.1em inset rgba(5, 5, 5, 0.25);
}

.button:hover .button-inner {
  clip-path: inset(
    clamp(1px, 0.0625em, 2px) clamp(1px, 0.0625em, 2px)
      clamp(1px, 0.0625em, 2px) clamp(1px, 0.0625em, 2px) round 100em
  );
  box-shadow:
        /* 1 */
    0.1em 0.15em 0.05em 0 inset rgba(58, 58, 58, 0.75),
    /* 2 */ -0.025em -0.03em 0.05em 0.025em inset rgba(62, 62, 62, 0.5),
    /* 3 */ 0.25em 0.25em 0.2em 0 inset rgba(5, 5, 5, 0.5),
    /* 4 */ 0 0 0.05em 0.5em inset rgba(255, 255, 255, 0.15),
    /* 5 */ 0 0 0 0 inset rgba(255, 255, 255, 1),
    /* 6 */ 0.12em 0.12em 0.12em inset rgba(255, 255, 255, 0.25),
    /* 7 */ -0.075em -0.12em 0.2em 0.1em inset rgba(5, 5, 5, 0.25);
}

.button .button-inner span {
  position: relative;
  z-index: 4;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.05em;
  font-weight: 500;
  color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(
    135deg,
    rgba(25, 25, 25, 1),
    rgba(75, 75, 75, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  transition: transform 250ms ease;
  display: block;
  will-change: transform;
  text-shadow: rgba(0, 0, 0, 0.1) 0 0 0.1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover .button-inner span {
  transform: scale(0.975);
}

.button:active .button-inner {
  transform: scale(0.975);
}

/*Draggable window*/

#window {
  position: absolute;
  border-radius: 16px;
  max-width: 400px;
  max-height: 200px;
  z-index: 9;
  top: 200px;
  left: 190px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  box-shadow:0 0 40px -10px rgba(134, 134, 134, 0.3),
0 0 25px -15px rgba(162, 162, 162, 0.2);
  text-align: center;
}

#window img {
  max-width: 400px;
  max-height: 200px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;

}

#window-header {
  height: 16px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 10px;
  z-index: 10;
  background-color: #F4F4F4;
  color: #fff;
}

.dotR {
    background-color: #FF6259;
    height: 16px;
    width: 16px;
    border-radius: 50%;
}
.dotY {
    background-color: #FFC13D;
    height: 16px;
    width: 16px;
    border-radius: 50%;
}
.dotG {
    background-color: #17C94B;
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

/* Center container */

.container {
    margin-top: 10px;
    width: 400px;
    height: 500px;
border-radius: 31px;
background: #f2efec;
box-shadow: inset 7px 7px 14px #d7d5d2,
            inset -7px -7px 14px #ffffff;

}

.controllers {
    margin: 24px;
    margin-top: 40px;
}

/* Hello message */


#hello {
    font-size: 90px;
    margin-left: 10px;
    font-weight: 750;
    color: #ff6a00;
    font-family: "Funnel Display", sans-serif;
    margin-top: 10px;
    margin-bottom: 8px;
    line-height: 1;


}

/* Side container */

.side-container {
  background-color: #ffffff;
  border-radius: 20px;
  width: 300px;
  height: 200px;
  box-shadow: 6px 3px 14px -9px rgba(221, 221, 221, 0.73);
  padding: 16px;
  cursor: none;
  position: relative;
}
/* Cursor image */

.cursor-img {
  position: fixed;
  width: 250px; 
  height: auto;
  pointer-events: none; 
  opacity: 0; 
background: none;
  z-index: 1000;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) scale(0.8);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.hover-area:hover .cursor-img {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);

}

#kaomoji {
font-family: "Funnel Display", sans-serif;
font-size: 40px;
color: rgb(140, 140, 140);

}

/* Terminal */

#terminal {
  font-family: monospace;
  font-size: 16px;
  color: #c8cfd8;
  position: absolute;
  border-radius: 18px;
  width: 320px;
  min-height: 220px;
  z-index: 9;
  top: 450px;
  left: 60px;
  background-color: #222935;
  border: 1px solid #e6e6e6;
  box-shadow:0 0 40px -10px rgba(134, 134, 134, 0.3),
  0 0 25px -15px rgba(162, 162, 162, 0.2);
  text-align: left;
}

#terminal p {
    margin-left: 10px;
}

#terminal input {
    font-family: monospace;
    font-size: 16px;
    margin-left: 10px;
    color: #c8cfd8;
    border: none;
    background: none;
}

#terminal input:focus {
    font-family: monospace;
    font-size: 16px;
    margin-left: 10px;
    color: #c8cfd8;
    border: none;
    background: none;
    outline-width: 0;
}

#color-selected {
    opacity: 0;
}

/* Number selector */


.number-select {
    font-size: 20px;
    border: none;
    height: 50px;
    width: 50px;
border-radius: 109px;
background: linear-gradient(145deg, #fffffd, #dad7d4);
box-shadow:  5px 5px 10px #cbc9c6,
             -5px -5px 10px #ffffff;

}

.number-select:hover {
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 109px;
background: linear-gradient(145deg, #dad7d4, #fffffd);
box-shadow:  5px 5px 10px #cbc9c6,
             -5px -5px 10px #ffffff;
    
}

.num-contain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.num-contain p {
font-size: 24px;
margin-top: 0;
margin-bottom: 0;
margin-left: 16px;
margin-right: 16px;
}

/* Orange button */


.orange-btn {
margin-left: 16px;
height: 32px;
width: 82px;
border-radius: 6px;
border: none;
background-color: #ff6a00;
color: white;
font-size: 16px;
font-family: "Stack Sans Text", sans-serif;
}

.orange-btn:hover {
    border: 1px solid white;
}

/* LED States */


.current-states {
    margin-top: 40px;

}
.state-container {
    margin-top: 32px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
}
.state-container button {
    margin-left: 16px;
    height: 32px;
    width: 50px;
    border: none;
    border-radius: 12px;
background: #f2efec;
box-shadow:  7px 7px 14px #dfdcd9,
             -7px -7px 14px #ffffff;
}

/* Play video button */

#play-btn {
    border: none;
    height: 42px;
    width: 140px;
    border-radius: 31px;
}
#play-btn:hover {
    border: none;
    height: 42px;
    width: 140px;
    background-color: #ff6a00;
    color: white;
    border-radius: 31px;
    transition: 2ms;
}